## Task-1 pattern programs
## Name-Varigonda Sai Nirmal Vignu
## Reg Id-SIRSS1146

## 1

In [12]:
for i in range(5,0,-1):
    print('5 '*i)

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

# 2

In [10]:
for i in range(5,0,-1):
    for j in range(0,i+1):
        print(j,end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

# 3

In [11]:
n=5
i = 1  
while i <= n:  
    j = 1  
    while j <= i:    
        print((i * 2 - 1), end=" ")  
        j = j + 1  
    i = i + 1  
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

# 4

In [17]:
n=5
for i in range(1,n+1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# 5

In [20]:
i = 1
j = 2
k = j
for row in range(2, 6):
    for col in range(i, j):
        k -= 1
        print(k,end=' ')
    print()
    i = j
    j += row
    k = j

1
3 2
6 5 4
10 9 8 7

# 6

In [24]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        res=1
        if j>i-j:
            j=i-j
        for l in range(0,j):
            res=res*(i-l)
            res=res//(l+1)
        print(res,end=" ")
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

# 7

In [25]:
rows = 5
for i in range(1, rows + 1):  
    for j in range(1, rows + 1):   
        if j <= i:  
            print(i, end=' ')  
        else:  
            print(j, end=' ')  
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

# 8

In [2]:
n=8
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

# 9

In [7]:
rows = 5
k = 2 *rows-2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=' ')
    k = k + 1
    for j in range(0, i + 1):
        print('*', end=' ')
    print()

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

# 10

In [11]:
n = 7
k = 2 * n-2
for i in range(0, n):
    for j in range(0,k):
        print(end=' ')
    k = k - 1
    for j in range(0, i + 1):
        print('*', end=' ')
    print()

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *

# 11

In [14]:
n=6
for i in range(n+1):
    print("* "*i)
print()
for i in range(n,0,-1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

# 12

In [16]:
n=5
for i in range(n+1):
    print("* "*i)

for i in range(n-1,0,-1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# 13

In [42]:
n=5
k = 2 * n - 2
for i in range(0, n-1):
    for j in range(0, k):
        print(end=" ")
    k = k - 2
    for j in range(0, i + 1):
        print("* ", end="")
    print("")
k = -1
for i in range(n-1,-1,-1):
    for j in range(k,-1,-1):
        print(end=" ")
    k = k + 2
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

# 14

In [55]:
n=5
k = n - 2
for i in range(n, -1 , -1):
    for j in range(k , 0 , -1):
        print(end=" ")
    k = k + 1    
    for j in range(0, i+1):
        print("* " , end="")
    print()
k = 2 * n  - 2
for i in range(0 , n+1):
    for j in range(0 , k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("\r")

   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *

# 15

In [61]:
for i, j in zip(range(n,0,-1), range(0,n)):
    print("*"*i+"_"*(2*j)+"*"*i)

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*